* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-weight: 300;
}

/* 
.root {
    background-image: url("../src/images/animal.png");

} */

body {
    font-family: "Source Sans Pro", sans-serif;
    color: white;
    width: 100vw;
    height: 100vh;
    font-weight: 300;
    /* background: #84c1cd; */
}

.container {
    margin: 10% auto;
    padding: 80px 0;
    text-align: center;
}

.container h1 {
    font-size: 40px;
    font-weight: 200;
}

form {
    padding: 20px 0;
    position: relative;
}

form input {
    border: 1px solid rgba(252, 252, 252, 0.4);
    background-color: rgba(252, 252, 252, 0.2);
    width: 250px;
    border-radius: 3px;
    font-family: "Source Sans Pro", sans-serif;
    padding: 10px 15px;
    margin: 0 auto 10px auto;
    display: block;
    text-align: center;
    font-size: 18px;
    color: white;
    font-weight: 300;
}

form button {
    appearance: none;
    outline: 0;
    background-color: white;
    border: 0;
    padding: 10px 15px;
    color: #50a3a2;
    border-radius: 3px;
    width: 250px;
    font-size: 18px;
    font-family: "McLaren", cursive;

}


/* Header and Footer Styles rgb(252, 252, 252)*/
header {
    /* background-color: #84c1cdc5; */
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    /* text-align: center; */
    /* justify-content: space-between; */
    /* margin: auto -16px; */
    padding: 16px 32px;
    /* opacity: 1; */
    /* box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3); */
}

header h1 {
    color: #ffffff;
    font-family: "McLaren", cursive;
    font-weight: 200;
    margin-right: 45rem;

}


header a {
    text-decoration: none;
    color: #fff;
    font-family: "McLaren", cursive;
    font-weight: 200;
    /* padding-right: 4rem; */
}

header button {
    margin-left: 4rem;
}


footer {
    position: absolute;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}

footer p {
    color: #ccc;
}

/* sizing of map container */
.leaflet-container {
    margin-top: 4rem;
    margin-left: 2rem;
    height: 40vh;
    width: 50vw;
}

/* loader */
.loader {
    text-align: center;
    /* background-color: #50a3a2; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

/* landing page styles */

.landing {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    text-align: center;
    color: #000000;
    padding-bottom: 10rem;
}

.title {
    font-size: 4rem;
    font-family: "McLaren", cursive;
    margin-bottom: 2rem;
}


.subtitle {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.login-btn {
    margin: 2rem;
    padding: 0.5rem 2rem;
    font-family: "McLaren", cursive;
}